.git

.dockerignore

.env
.env.*

.gitignore
**/.gitignore

.vs
.vscode
**/.vscode

.idea
**/.idea

**/bin
**/obj

**/.toolstarget

./publish

**/Dockerfile*

**/appsettings.[Dd]evelopment.json
**/appsettings.[Dd]ocker.json
**/appsettings.[Ll]ocal.json
